# Folders
.github
.idea
.vscode
dist
public/assets/fonts
public/assets/images
storybook-static
build

# Files
package.json
package-lock.json
.gitignore
.npmignore
.prettierignore

# Readme
LICENSE
CODE_OF_CONDUCT.md
README.md
