/**
 * We need this css to ensure the correct patternlab
 * behaviour inside of a webcomponent.
 */
:host, :root {
    --color-brand-main-blue: #005A9F;
    --color-neutrals-blue: #BDD4EA;
    --color-neutrals-blue-xlight: #F2F6FA;
    --color-neutrals-grey: #3A5368;
    color: var(--color-neutrals-grey);
    font-family: Open Sans, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    word-break: break-word;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
    font-family: "Roboto Condensed",Arial,sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.25;
}
h2 {
    font-family: "Roboto Condensed",Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
}
h3 {
    font-family: "Roboto Condensed",Arial,sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;
}
h4 {
    font-family: "Roboto Condensed",Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25;
}
h5 {
    font-family: "Roboto Condensed",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
}

@media all and (min-width:1200px) {
    h1 {
        font-size: 2.375rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
}

.muc-divider {
    align-self: stretch;
    height: 0;
    border-bottom: 1px var(--color-neutrals-blue) solid;
}
